@font-face {
    font-family: Larsseit_bold;
    src: url(../fonts/Larsseit-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Larsseit_medium;
    src: url(../fonts/Larsseit-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Larsseit_regular;
    src: url(../fonts/Larsseit.ttf);
    font-weight: normal;
}

